*/.ipynb_checkpoints/*
*_store/*
*.sync/*
*/wandb/*
*/lightning_logs/*
*/__pycache__/*
*.pickle*
*_files/*

*/.ipynb_checkpoints/
*_store/
*.sync/
*/wandb/
*/lightning_logs/
*/__pycache__/
*.pickle
*_files/


notebooks/fourier_transform/.ipynb_checkpoints/


