*/.ipynb_checkpoints/*
*_store/*
*.sync/*
*/wandb/*
*/lightning_logs/*
*/__pycache__/*
*.pickle*
*_files/*
*/analysis_results/*
*predictions-*


*/.ipynb_checkpoints/
*_store/
*.sync/
*/wandb/
*/lightning_logs/
*/__pycache__/
*.pickle
*_files/
*/analysis_results/

cluster_runs/analysis_results/store_tenMill_fox/*

notebooks/fourier_transform/.ipynb_checkpoints/


